<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <title>Document</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="" th:href="@{/login}" href="#">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="" th:href="@{/logout}" href="#">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>
<main>
    <div class="container">

        <!--Section: Block Content-->
        <section class="mt-5 mb-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8">

                    <!-- Card -->
                    <div class="card wish-list mb-4">
                        <div class="card-body">

                            <h5 class="mb-4">Cart (<span th:text="${cartCount}">2</span> items)</h5>

                            <div class="row mb-4" th:each="item, iStat : ${cart}">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             th:src="@{${'/productImages/' + item.imageName}}"
                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">

                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 th:text="${item.name}">Blue denim shirt</h5>
                                                <p class="mb-3 text-uppercase small">Weight: <span th:text="${item.weight}"></span> grams</p>
                                                <!--                                                <p class="mb-2 text-uppercase small">Category: <span th:text="${item.category.name}"></span></p>-->

                                            </div>

                                        </div>
                                        <div class="mt-5 d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="#!" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"  type="button" class="card-link-secondary small text-uppercase mr-3"><i
                                                        class="fas fa-trash-alt mr-1"></i> Remove item </a>

                                            </div>
                                            <p class="mb-0"><span><strong>₹<span th:text="${item.price}"></span></strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                                items to your cart does not mean booking them.</p>

                        </div>
                    </div>




                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <h5 class="mb-3">The total amount </h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Amount Payable
                                    <span>₹<span th:text="${total}"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Gratis</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>The total amount of</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>₹<span th:text="${total}"></span></strong></span>
                                </li>
                            </ul>

                            <a th:href="@{/checkout}" h class="btn btn-primary btn-block waves-effect waves-light">go to
                                checkout</a>

                        </div>
                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                               aria-expanded="false" aria-controls="collapseExample">
                                Add a discount code (optional)
                                <span><i class="fas fa-chevron-down pt-1"></i></span>
                            </a>

                            <div class="collapse" id="collapseExample">
                                <div class="mt-3">
                                    <div class="md-form md-outline mb-0">
                                        <input type="text" id="discount-code" class="form-control font-weight-light"
                                               placeholder="Enter discount code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Block Content-->

    </div>
</main>
<!--Main layout-->





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>View Product</title>-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f0f0f0;-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--        }-->

<!--        h1 {-->
<!--            text-align: center;-->
<!--            color: #333;-->
<!--            margin-top: 150px;-->
<!--        }-->

<!--        table {-->
<!--            border-collapse: collapse;-->
<!--            width: 80%;-->
<!--            margin: 25px auto;-->
<!--            background-color: #fff;-->
<!--            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);-->
<!--        }-->

<!--        th, td {-->
<!--            padding: 12px;-->
<!--            text-align: left;-->
<!--            border-bottom: 1px solid #ddd;-->
<!--        }-->

<!--        th {-->
<!--            background-color: #333;-->
<!--            color: #fff;-->
<!--        }-->

<!--        tr:nth-child(even) {-->
<!--            background-color: #f2f2f2;-->
<!--        }-->

<!--        form {-->
<!--            text-align: center;-->
<!--            margin-top: 20px;-->
<!--        }-->

<!--        /* CSS for the navigation bar */-->
<!--        .form2 ul.navbar {-->
<!--            list-style-type: none;-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            background-color: #333; /* Background color for the navbar */-->
<!--            overflow: hidden;-->
<!--        }-->

<!--        .form2 li.nav-item {-->
<!--            float: left;-->
<!--        }-->

<!--        .form2 li.nav-item a {-->
<!--            display: block;-->
<!--            color: white;-->
<!--            text-align: center;-->
<!--            padding: 14px 16px;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--        .form2 li.nav-item a:hover {-->
<!--            background-color: #555; /* Background color on hover */-->
<!--        }-->

<!--        /* Move the "Register" and "Login" links to the right */-->
<!--        .form2 li.nav-item.about,-->
<!--        .form2 li.nav-item.contact {-->
<!--            float: right;-->
<!--        }-->

<!--        /* Style for the "Add to Cart" button */-->
<!--        .add-to-cart-button {-->
<!--            background-color: #008CBA;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            padding: 5px 10px;-->
<!--            cursor: pointer;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="form2">-->
<!--    <form action="/add_Cart" method="post">-->
<!--        <ul class="navbar">-->
<!--            <li class="nav-item admin_homepage"><a href="/admin_homepage">Home</a></li>-->
<!--            <li class="nav-item deleteProduct"><a href="/products">View Product</a></li>-->
<!--            <li class="nav-item addToStore"><a href="/add_product">Add to store</a></li>-->
<!--            <li class="nav-item about"><a href="/about">About Us</a></li>-->
<!--            <li class="nav-item contact"><a href="/contact">Contact</a></li>-->
<!--        </ul>-->
<!--    </form>-->
<!--</div>-->

<!--<h1>Product List</h1>-->

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Product ID</th>-->
<!--        <th>Product Name</th>-->
<!--        <th>Price</th>-->
<!--        <th>Quantity</th>-->
<!--        <th>Action1</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="product : ${productsRequest}">-->
<!--    <tr>-->
<!--        <td th:text="${product.id}"></td>-->
<!--        <td th:text="${product.productName}"></td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--        <td th:text="${product.quantity}"></td>-->
<!--        <td>-->
<!--            <button class="add_Cart-button" onclick="addToCart(${product.id})">Add to Cart</button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script>-->
<!--    // function addToCart(productId) {-->
<!--    //     $.post(`/add_to_cart/${productId}`, function(data) {-->
<!--    //         // Handle the response as needed (e.g., show a success message)-->
<!--    //         console.log(data);-->
<!--    //     });-->
<!--    // }-->

<!--    function addToCart(productId) {-->
<!--        console.log('addToCart function called with productId:', productId);-->

<!--        $.post(`/add_Cart/${productId}`, function(data) {-->
<!--            console.log('Response from server:', data);-->
<!--        });-->
<!--    }-->

<!--</script>-->

<!--</body>-->
<!--</html>-->
